<div class="latest-posts">
    <h2 class="section-title">Latest Posts</h2>
    <hr>

    <div class="grid">
        {% for post in site.posts limit:2 %}
        <a href="{{ post.url }}" class="post card">
            <span style="display: block">
                <p class="category">{{ post.category }}</p>
                <h3>{{ post.title }}</h3>
                <p class="info">{{ post.date | date_to_string }}</p>
                <p class="read">Read <i class="fa fa-chevron-right"></i></p>
            </span>
        </a>
        {% endfor %}
    </div>
</div>