$shadow-color: rgba(184, 184, 184, 0.5);

.contact.card {
    width: 130px;
    height: 40px;
    display: table;
    padding: 8px 0 8px 12px;
    margin: 8px 0.8em;
    display: inline-block;
    box-shadow: 0 2px 17px $shadow-color;

    i, p {
        vertical-align: top;
        display: table-cell;
        line-height: 24px;
        color: $text-primary;
    }

    p {
        padding-left: 8px;
    }

    i.youtube {
        color: #E62117;
    }

    i.github {
        color: black;
    }

    i.twitter {
        color: #1dcaff;
    }

    i.linkedin {
        color: #0077B5;
    }
}

.card {
    display: block;
    overflow: scroll;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 27px $shadow-color;
    overflow: hidden;
    transition: ease 0.5s;
    transform: translate(0, 0);

    h3 {
        margin-bottom: 4px;
        font-weight: 600;
        color: $text-primary;
    }

    .info {
        color: $text-muted;
    }

    .excerpt {
        color: $text-secondary;
    }

    .read {
        float: right;
        color: $accent;
        display: table-cell;
        margin: 0;
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}

.card > span {
    display: block;
}

.card:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.card.contact:hover {
    transform: translate(-1px, -1px);
}

@media (max-width: 950px) {
    .social-media > li, .contact.card {
        width: 100%;
    }

    .contact.card {
        p {
            text-align: center;
            display: table-cell;
            margin: auto;
        }
    }
}