---
---

@import "colors";

header {
    background-color: $accent;

    .container {
        display: block;
        text-align: center;
    }

    img {
        max-width: 30%;
        max-width: 100px;
        margin: auto;
        display: block;
    }

    .title, .subtitle, .about {
        color: white;
        width: 100%;
    }

    .title, .subtitle {
        color: white;
    }

    .title {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 1em;
    }

    .contact.card {
        background-color: rgba(255,255,255,0.9);
    }
}

.about {
    margin-bottom: 3em;
}

.social-media {
    a, i {
        color: white;
    }

    li {
        padding: 1em;
    }
}

.categories {
    hr {
        margin-bottom: 1.5em;
    }

    .post-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2em;
        margin-bottom: 3em;
    }

    .category-title {
        text-transform: capitalize;
    }
}

@media (max-width: 667px) {
    .categories {
        .post-grid {
            grid-template-columns: 1fr;
        }
    }
}