@import "latest_posts";

.post-head {
    h1 {
        font-size: 2.5em;
        font-weight: 600;
    }

    h2 {
        font-weight: 400;
    }

    p {
        font-size: 1.2em;
    }

    .post-details {
        .tag {
            display: inline;
            list-style-type: none;
            background-color: #d3d3d3;
            padding: 5px;
            border-radius: 5px;
        }

        .tag a {
            color: white;
        }

        .tag:hover {
            a {
                text-decoration: none;
            }

            background-color: #a9a9a9;
        }

        margin-bottom: 10px;
    }
}

article {
    h2 {
        font-size: 1.3em;
    }

    blockquote {
        color: $text-secondary;
        padding-left: 16px;
        border-left: 3px solid $text-secondary;
    }

    img {
        width: 100%;
    }

    .embed-container {
        margin-bottom: 16px;
    }

    .highlight {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        padding: 8px;

        margin-bottom: 8px;
        border-radius: 4px;
    }
}

.share-twitter {
    margin-top: 2em;
    text-align: center;
}

.tweet {
    background-color: $accent;
    color: white;
    padding: 8px;
    border-radius: 4px;
    height: 24px;

    i {
        line-height: 24px;
        vertical-align: top;
        display: table-cell;
    }

    p {
        margin: auto;
        display: table-cell;
        padding-left: 8px;
    }
}

.tweet:hover {
    text-decoration: none;
    background-color: $accent-hover;
}

@media (max-width: 667px) {
    .post-head {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }
}