---
---

@import "colors";
@import "typography";

.social-media {
	margin: 1em;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}

.contact-item {
	margin: 8px 16px;
	display: inline-block;

	i, p {
		color: $text-primary;
		text-align: center;
		width: 100%;
	}

	.fa-twitter {
		color: #1DA1F2;
	}

	.fa-github {
		color: #212529;
	}

	.fa-youtube-play {
		color: #ff0000;
	}

	.fa-linkedin-square {
		color: #0077B5;
	}
}

.contact-form {
	input, textarea {
		border: none;
		border-radius: 4px;
		@include paragraph;
	}

	input[type="text"], textarea {
		width: 100%;
		background-color: $bg-light;
		color: $text-primary;
		padding: 8px;
		margin-bottom: 8px;
	}

	textarea {
		height: 200px;
		resize: none;
	}

	input[type="submit"] {
		color: white;
		background-color: $accent;
		padding: 6px 16px;
	}
}

@media (max-width: 667px) {
	p {
		text-align: center;
	}

    .social-media {
    	flex-direction: column;
    }

    .contact-form {
    	input, textarea {
    		width: 90% !important;
    		display: block;
    		margin-left: auto;
    		margin-right: auto;
    	}
    }
}