// Background colors
$white: #FFF;
$bg-light: #E5E5EA;
$bg-medium: #d9d9db;
$bg-dark: #333;

// Text colors
$text-primary: #0f0f0f;
$text-secondary: #333333;
$text-ternary: #585858;
$text-muted: #9B9B9B;

$link-primary: #005DFF;

$gray2: green;
$gray3: #3A3A3C;
$gray4: #E5E5EA;

// Button colors
$accent: #005DFF;
$accent-hover: #0056ea;