// Background colors
$white: #FFF;
$bg-light: #E5E5EA;

// Text colors
$text-primary: #24292e;
$text-secondary: #2C2C2E;
$text-ternary: #585858;
$text-muted: #9B9B9B;

$link-primary: #005DFF;

$gray2: green;
$gray3: #3A3A3C;
$gray4: #E5E5EA;

// Button colors
$accent: #005DFF;
$accent-hover: #0056ea;