.navbar {
    padding: 20px 0;
    margin-bottom: 30px;
    background-color: $bg-dark;
    position: relative;

    hr {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: solid 1px $bg-light;
    }

    .container {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;

        justify-content: space-between;
        align-items: center;

        padding: 20px;
    }

    .title, .subtitle, a {
        color: white;
    }

    .title-link {
        display: table-cell;
    }

    .title {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .subtitle {
        font-size: 1em;
        font-weight: 400;
    }

    a.about:hover {
        color: $accent;
        text-decoration: underline !important;
    }

    a:hover {
        text-decoration: none;
    }

    .subtitle:hover {
        text-decoration: none;
    }

    nav {
        margin-left: auto;

        ul {
            display: table-cell;
        }

        li {
            display: inline-block;

            a {
                font-weight: 800;
                font-size: 1.3em;
            }
        }
    }
}

@media (max-width: 667px) {
    .navbar {
        margin-bottom: 0;

        .container {
            display: block;
        }

        nav {
            margin-top: 16px;
        }

        a.about {
            font-size: 1em;
            font-weight: 600;
        }
    }
}