---
---

p.meta {
    color: #c3c3c3 !important;
    font-size: 14px;
}

article {
    h1 {
        font-size: 3em;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: -0.2px;
        margin-top: 20px;
        margin-bottom: 6px;
    }

    h3 {
        font-size: 1.3em;
        font-weight: 500;
        letter-spacing: -0.2px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    ul, li {
        margin-left: 16px;
    }

    li {
        line-height: 1.2;
    }

    p a {
        text-decoration: underline;
    }

    blockquote {
        padding-left: 16px;
        border-left: 3px solid #585858;
    }

    blockquote > p {
        color: #585858;
    }

    .MathJax_Display {
        overflow-x: scroll;
    }

    .embed-container, #ytplayer {
        width: 100%;
        height: 400px;
    }

    img {
        width: auto;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    img.inline {
        display: inline;
        width: auto;
    }

    .highlight {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        padding: 8px;

        margin-bottom: 8px;
        border-radius: 4px;
    }

    .text-muted {
        color: gray;

        a {
            color: gray;
            text-decoration: underline;
        }
    }

    .read-elsewhere {
        display: block;
        width: 230px;
        margin: 12px auto;
        padding: 16px 12px;
        background-color: #38ef7d;
        border-radius: 3px;
        text-align: center;
        color: #161616 !important;
        text-decoration: none;
    }
}

.twitter {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.tweet {
    background-color: #1b95e0;
    padding: 12px 16px;
    border-radius: 4px;
    height: 24px;
    text-decoration: none;

    i {
        line-height: 24px;
        vertical-align: top;
        display: table-cell;
        color: white;
        text-decoration: none;
    }

    p {
        margin: auto;
        display: table-cell;
        padding-left: 8px;
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 800px) {
    article {
        h1 {
            font-size: 2em;
            margin-bottom: 10px;
        }
    }
}