@import "latest_posts";

article {
    h2, h3, p {
        margin-bottom: 8px;
    }
}

.post-head {
    margin-bottom: 10px; 

    h1, p {
        margin-bottom: 8px;
    }

    h1 {
        font-size: 2.2em;
    }

    p {
        font-size: 1em;
    }

    .tag {
        display: inline;
        list-style-type: none;
        background-color: #d3d3d3;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
    }

    .tag a {
        color: white;
    }

    .tag:hover {
        background-color: #a9a9a9;
    }

}

article {
    h2 {
        margin-top: 16px;
    }

    blockquote {
        padding-left: 16px;
        border-left: 3px solid $bg-light;
    }

    blockquote > p {
        color: $text-ternary;        
    }

    img {
        width: 100%;
    }

    #ytplayer {
        margin-top: 8px;
        margin-bottom: 16px;
        width: 100%;
    }

    .highlight {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        padding: 4px;

        margin-bottom: 8px;
        border-radius: 4px;
    }
}

.share-twitter {
    margin-top: 2em;
    text-align: center;
}

.tweet {
    background-color: $accent;
    padding: 8px;
    border-radius: 4px;
    height: 24px;

    i, p {
        color: white;
    }

    i {
        line-height: 24px;
        vertical-align: top;
        display: table-cell;
    }

    p {
        margin: auto;
        display: table-cell;
        padding-left: 8px;
    }
}

.tweet:hover {
    text-decoration: none;
    background-color: $accent-hover;
}

@media (max-width: 667px) {
    .post-head {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }

    .tweet:hover {
        background-color: $accent;
    }
}