---
---

@import "colors";
@import "typography";
@import "header";
@import "card";

// Main
* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    min-height: 100%;
    margin: 0; 
    padding: 0;
    position: relative;
}

#content {
    min-height: 100%;
}

header {
    .title, .subtitle, .about {
        font-family: $font-title !important;
    }
}

.container {
    max-width: 800px;
    padding: 3em;
    margin-right: auto;
    margin-left: auto;
}

.hide-desktop {
    display: initial;
}

.show-mobile {
    display: none;
}

.show-more {
    border: none;
    background-color: white;
    padding: 4px 8px;
    margin: 12px 4px 4px 4px;
    color: black;
    border-radius: 4px;
}

.hidden {
    display: none;
}

// Text
a {
    text-decoration: none;
    color: $link-primary;
}

a.button:hover {
    text-decoration: none;
}

ol, ul {
    margin:0 0 0 25px;
}

.tag {
    background-color: $bg-light;
    padding: 6px 12px;
    display: inline-block;
    color: $text-primary;
}

.tag:hover {
    background-color: $bg-medium; 
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

footer {
    height: 50px;
    margin-top: -10px;
    width: 100%;

    p {
        text-align: center;
    }

    a, p {
        color: $gray3;
    }

    p.copyright {
        color: $gray4;
    }
}

@media (max-width: 667px) {
    .hide-desktop {
        display: none;
    }

    .show-mobile {
        display: initial;
    }

    .container {
        padding: 1em;
    }

    p.large {
        font-size: 1.2em;
    }
}