// Font family
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Headings
h1, h2, h3, h4, h5, h6, p, a {
    font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-primary;
}

h1 {
	font-size: 2.5em;
	font-weight: 600;
}

h2 {
    font-size: 1.3em;
}

h2.section-title {
    font-weight: 800;
    font-size: 1.5em;
}

h1 {
    color: $text-primary;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 8px;
}

@mixin paragraph {
    color: $text-secondary;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0.004em;
    font-size: 17px;
    margin: 8px auto;
    font-family: $font-family;
}

p {
    @include paragraph;
}


p > code {
	background-color: $bg-light;
	font-size: inherit;
}

p.large {
    font-size: 1.3em;
}