---
permalink: /about
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/stylesheets/about.css">
    </head>

    <body>
        <div id="content">
            <div id="contentinside">
                {% include header.html %}

                <div class="container tight">
                    <p>Hello! My name is Rick Wierenga, I'm from the Netherlands and I’m 17 years old. Formally I'm a high school junior but I like coding better. If you'd like to learn more about me then check out my social media or get in touch.</p>
                    <p>If you have any questions or feedback, or just want to say hi, please get in touch on social media:</p>
                    <ul>
                        <li>Twitter: <a href="https://twitter.com/rickwierenga">@rickwierenga</a></li>
                        <li>LinkedIn: <a href="https://www.linkedin.com/in/rickwierenga">in/rickwierenga</a></li>
                        <li>GitHub: <a href="https://github.com/rickwierenga">rickwierenga</a></li>
                        <li>Email: rick_wierenga [at] icloud [dot] com</li>
                        <li>Buy me a Coffee: <a href="https://www.buymeacoffee.com/rickwierenga">rickwierenga</a></li>
                    </ul>

                    <p>If you need my full resume please send me an email.</p>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
