---
permalink: /
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/front_page.css">
    </head>

    <body>
        <header>
            <div class="container">
                <a href="/">
                    <!-- <img src="/assets/images/logo.png" alt="Logo"> -->
                    <h1 class="title center">Rick Wierenga</h1>
                    <h2 class="subtitle center">A blog about whatever interests me.</h2>
                </a>
                <button onclick="toggleSocialMedia()" class="hide-desktop show-mobile show-more"><span class="btn-label">View </span>contact info <i class="fa fa-chevron-down toggle-icon" aria-hidden="true"></i></button>
                <ul class="social-media">
                    <li>
                        <a href="https://twitter.com/rickwierenga" target="_blank">
                            <i class="fa fa-2x fa-twitter twitter"></i>
                            <p>Twitter</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/rickwierenga" target="_blank">
                            <i class="fa fa-2x fa-github github"></i>
                            <p>GitHub</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCTBDbQ72E0WQRQ9gTqxiWmw" target="_blank">
                            <i class="fa fa-2x fa-youtube-play youtube"></i>
                            <p>YouTube</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rick-w-0651b6183/" target="_blank">
                            <i class="fa fa-2x fa-linkedin-square linkedin"></i>
                            <p>LinkedIn</p>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="categories container">
            {% for category in site.categories %}
            <div>
                <h3 class="title semi-bold">All posts about <span class="category-title accent">{{ category | first }}</span></h3>
                <hr>
                <div class="post-grid">
                    {% for post in category.last %}
                    <a href="{{ post.url }}" class="card post">
                        <span>
                            
                            <p class="info">
                                <span class="date">{{ post.date | date_to_string }}</span>
                                &middot;
                                <span class="reading-time" title="Estimated read time">
                                    {% assign words = post.content | number_of_words %}
                                    {% if words < 180 %}
                                    1 min
                                    {% else %}
                                    {{ words | divided_by:180 }} mins
                                    {% endif %}
                                    read
                                </span>
                            </p>
                            <h3>{{ post.title }}</h3>
                            <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
                            <p class="read">Read <i class="fa fa-chevron-right"></i></p>
                        </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        {% include footer.html %}
        <script src="/assets/scripts/show_more.js"></script>
    </body>
</html>
