---
permalink: /
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
  </head>

  <body>
    <div id="content">
      <div id="content-inside">
        {% include header.html %}
        <div class="posts container">
          <div class="series">
            <h2 class="series-header">Series</h2>
            <div class="blocks">
              <a class="block mlf" href="/blog/ml-fundamentals">
                <h2>ML from the Fundamentals</h2>
                <p>An intuitive, first principles approach to ML.</p>
              </a>
            </div>
          </div>

          {% for post in site.posts %}
          <a class="post" href="{{ post.url }}">
            <p class="date">
              <span>{{ post.date | date_to_string }} &middot; </span>
              {% if post.layout == "heartbeat" %}
              <span>Published on Heartbeat</span>
              {% else %}
              <span>
                {% assign words = post.content | number_of_words %}
                {% if words < 250 %}
                1 min
                {% else %}
                {{ words | divided_by:250 }} mins
                {% endif %}
                read
              </span>
            </p>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt | strip_html | truncatewords: 100 }}</p>
          </a>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
