---
permalink: /blog/ml-fundamentals
title: ML from the Fundamentals
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/stylesheets/home.css">
    </head>

    <body>
        <div id="content">
            <div id="contentinside">
                {% include header.html %}

                <div class="container tight">
                    <h1>ML from the Fundamentals</h1>
                    <br>
                    <p>This series clearly explains the fundamental theories behind machine learning. I did not assume the reader has any experience with machine learning so anyone should be able to follow it.</p>
                    <p>Each does post assume you are familiar with the basics of <a href="https://www.youtube.com/watch?v=fNk_zzaMoSs&list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab">linear algebra</a> and <a href="https://www.youtube.com/watch?v=WUvTyaaNkzM&list=PLZHQObOWTQDMsr9K-rj53DwVRMYO3t5Yr">calculus</a> though. I could try to explain all math, but 3blue1brown would do a better job anyway so just watch his videos.</p>
                    <p>This series has a corresponding GitHub repository which you can find <a href="https://github.com/rickwierenga/MLFundamentals">here</a>.</p>
                    <p>Be sure to follow me on Twitter so you stay up to date with the series. I'm <a href="https://twitter.com/rickwierenga">@rickwierenga</a>.</p>

                    <h2>Contents</h2>
                    <ol>
                        {% for post in site.posts reversed %}
                        {% if post.category == "ml-fundamentals" %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol>

                    <h2>Resources</h2>
                    These are some resources I used to learn machine learning that you might like as well:
                    <br>
                    <ul>
                        <li><a href="http://cs229.stanford.edu">Stanford CS229</a></li>
                        <li><a href="http://cs231n.github.io">Stanford CS231n</a></li>
                        <li><a href="https://www.fast.ai">fast.ai</a></li>
                        <li><a href="https://deeplearning.mit.edu">MIT Deep Learning</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
