<!DOCTYPE html>
  <html lang="en">
  <head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/stylesheets/post.css">
  </head>

  {% include header.html %}

  <body>
    <div id="content">
      <div id="content-inside">
        <div class="container tight">
          <article class="post-content">
            <header>
              <p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>
              <h1>{{ page.title }}</h1>
            </header>
            {{ content }}
            <a class="read-elsewhere" href="{{ page.link }}">Read full story on Heartbeat</a>
          </article>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
