<!DOCTYPE html>
    <html lang="en">
    <head>
    {% include head.html %}
    <link href="/assets/stylesheets/dracula.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>

    {% include header.html %}

    <body>
        <div class="container">
            <article class="post-content">
                <header>
                    <p class="date">
                        {{ page.date | date: '%B %d, %Y' }}
                        &middot;
                        {% assign words = page.content | number_of_words %}
                        {% if words < 180 %}
                        1 min
                        {% else %}
                        {{ words | divided_by:180 }} mins
                        {% endif %}
                        read
                    </p>
                    <h1 class="post-title">{{ page.title }}</h1>
                    {% if page.tags.size > 0 %}
                    <div class="tags">
                        {% for tag in page.tags %}
                            <a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </header>
                {{content}}
            </article>

            <div class="share-twitter">
                <a href="http://twitter.com/home?status={{ page.title }}%20via%20@rickwierenga%20{{ site.url }}{{ page.url }}" target="_blank" class="tweet">
                    <i class="fa fa-2x fa-twitter twitter"></i><p>Tweet about this post!</p>
                </a>
            </div>

            {% include latest_posts.html %}
        </div>
        
        {% include footer.html %}
    </body>
</html>