<!DOCTYPE html>
  <html lang="en">

  <head>
    {% include head.html %}
    {% include math.html %}
    <link href="/assets/stylesheets/emacs.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/post.css">
  </head>

  {% include header.html %}

  <body>
    <div id="content">
      <div id="content-inside">
        <div class="container tight">
          <article class="post-content">
            <header>
              <p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>
              <div class="titles">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle != "" %}
                  <h2>{{ page.subtitle }}</h2>
                {% endif %}
            </div>
            </header>
            {{content}}
            <br><hr><br>
            <p>Thanks for reading. If you have any questions or comments, feel free to <a href="https://twitter.com/rickwierenga">reach out on Twitter</a> or email me directly at rick_wierenga [at] icloud [dot] com.</p>
          </article>

          <div class="twitter">
            <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url  | url_encode }}&text={{ page.title }}&via=rickwierenga" target="_blank" class="tweet">
              <i class="fa fa-2x fa-twitter twitter"></i><p>Please share!</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
