<!DOCTYPE html>
  <html lang="en">
  <head>
  {% include head.html %}
  <link href="/assets/stylesheets/emacs.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/stylesheets/post.css">

  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>

  {% include header.html %}

  <body>
    <div id="content">
      <div id="content-inside">
        <div class="container tight">
          <article class="post-content">
            <header>
              <p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>
              <h1>{{ page.title }}</h1>
            </header>
            {{content}}
            <br><hr><br>
            <p>Thanks for reading. If you have any questions or comments, feel free to reach out on <a href="https://twitter.com/rickwierenga">Twitter</a> or email me directly at rick_wierenga [at] icloud [dot] com.</p>
          </article>

          <div class="twitter">
            <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url  | url_encode }}&text={{ page.title }}&via=rickwierenga" target="_blank" class="tweet">
              <i class="fa fa-2x fa-twitter twitter"></i><p>Share this post!</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
